{{modal-root}}

{{page-header}}
<div class="container-fluid" style="margin-top:60px;">
  <div class="row">
    <div class="col-2">
      {{sidebar/global-sidebar}}
    </div>
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>
{{page-footer}}

<style>
.masonry-image {
	height: auto;
	width: 600px;
}
.patterns-box {
  margin:12px;
  cursor: zoom-in;
}
.patterns-box_item {
  border:1px solid #DFE1E6;
}
</style>
