{{modal-root}}
{{page-header}}
<div class="container-fluid" style="margin-top:60px;">
  <div class="row">
    <div class="col-2">
      {{sidebar/global-sidebar}}
    </div>
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>
{{page-footer}}
